
node_modules/


logs/
*.log
npm-debug.log*

pids/
*.pid
*.seed
*.pid.lock


lib-cov/


coverage/


.nyc_output/


.grunt/


bower_components/


.env


.DS_Store


.vscode/
.idea/
*.sublime-project
*.sublime-workspace
